@use 'src/theme/variables' as *;

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  display: block;
}

.decorative-bg {
  width: 100%;
  height: 100%;
  position: relative;
  background: #F7F7F7;
}