// Paleta de colores personalizada

$color-fondo-general: #f7f7f7;
$color-fondo-caja: rgba(228, 228, 228, 0.315);
$color-verde-oscuro: #37750C;
$color-fondo-tabs: rgb(139, 217, 87);

$color-fondo-inputs: rgba(126,217,87,0.5);

$color-texto2: #53a31a;
$color-boton: #62CD14D4;
$color-enlace-sign: #6eda3f;

$color-bienvenido: rgba(98, 205, 20,0.8);
$color-verde-claro: #65DE55;
